@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans bold";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}

/* чтобы при width: 100%; не вываливались из блока padding'и margin'ы */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  background-color: #f8f4f1;
  color:#000000;
  font-family: "OpenSans", "Arial", sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Служебные классы: */

.reset-list {
  position: relative;

  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px -1px;
  border: 0;
  padding: 0;

  white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой;*/

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* Стили для классов (в порядке следования в разметке) */

/* HEADER */

.header {
  margin-bottom: 25px;
  width: 100%;
  background-color: #000000;/*#503a3d;*/
}

.header-container {
  /* position: relative; */
  margin: 0 auto;
  padding: 0;
  /* width: 100%; */
  height: 244px;

  background-image: url("../img/library-2.jpg");
  background-size: cover;
}

.part-nav {
  margin: 0 auto;
  width: 980px;
  min-height: 30px;
  background-color: #000000;
}

.part-nav__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 3px 50px 4px 25px;
}

.part-nav__item {
  display: block;
  height: 100%;
}

.part-nav__text {
  margin: 0 auto;
  color: #ffffff;
}

.part-nav__link {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* MAIN */

.container {
  margin: 0 auto;
  width: 1200px;
}

/* .catalog {
  padding-left: 25px;
} */

.part__title {
  margin: 0 0 25px 0;
  padding-left: 25px;
  padding-top: 10px;
}

.part__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

/* Карточка товара */

.book {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: 18px;
  margin-bottom: 30px;
  width: 250px;
  min-height: 210px;

  color: #503a3d;
}

/* блок с краткой информацией */

.book__short {
  position: relative;
}

.book__tabs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book__id {
  margin: 0 0 0 2px;
  padding: 2px 5px 2px 5px;
  width: 40px;
  min-height: 30px;

  color: #ffffff;
  font-family: "OpenSans bold", "Arial", sans-serif;
  text-align: center;
  background-color: #c58e4d;
  border: 1px solid #c1853f;
  border-bottom: 2px solid #dfdfc5; /*#f8f4f1;*/
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.book__age-group {
  margin: 0 0 0 5px;
  padding: 2px 5px 2px 5px;
  min-height: 30px;

  color: #ffffff;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.book__age-group--1 {
  width: 70px;

  background-color: #e74b7b;
  border: 1px solid #de2a61;
  border-bottom: 2px solid #ffd5df;
}

.book__age-group--2 {
  width: 80px;

  background-color: #fd9800;
  border: 1px solid #f38f00;
  border-bottom: 2px solid #dfdfc5;
  border-radius: 5px 5px 0 0;
}

.book__image-wrapper {
  position: relative;
}

.book__image {
  margin: 0 30px 15px 0;
  width: 210px;
  height: auto;

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.book__image:hover {
  /* margin: -2px 10px auto -5px; */
  width: 200px;
  height: auto;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.book__price {
  position: absolute;
  bottom: 50px;
  right: 10px;


  width: 50px;
  height: 50px;
  margin: 0;
  padding-top: 12px;

  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255,0,0,.85);
  border-radius: 50%;
}

.book__placeholder {
  font-size: 7px;
}

.book__summary-link {
  margin: 0;

  color: #000000;
  font-size: 12px;
  text-decoration: underline;
}

.book__summary-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

/* блок с информацией об издании */
