@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans bold";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}

/* чтобы при width: 100%; не вываливались из блока padding'и margin'ы */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  background-color: #f8f4f1;
  color:#000000;
  font-family: "OpenSans", "Arial", sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Служебные классы: */

.reset-list {
  position: relative;

  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px -1px;
  border: 0;
  padding: 0;

  white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой;*/

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* Стили для классов (в порядке следования в разметке) */

/* HEADER */

.header {
  width: 100%;
  background-color: #000000;/*#503a3d;*/
}

.part-nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  width: 1150px;
  min-height: 30px;
  background-color: #000000;
}

.part-nav__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.part-nav__item {
  display: block;
  padding: 3px 25px 4px 25px;
  height: 100%;
}

.part-nav__item:hover {
  background-color: #a06700; /*#663D15 (102,61,21)*/
}

.part-nav__item:active {
  background-color: #663D15; /*(102,61,21)*/
}

.part-nav__item:last-child {
  margin-right: 20px;
}

.part-nav__text {
  margin: 0 auto;
  color: #ffffff;
}

.part-nav__link {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* MAIN */

.container {
  margin: 0 auto;
  padding: 50px 25px;
  width: 1200px;
  background-color: #ffffff;
}

/* .catalog {
  padding-left: 25px;
} */

.part__title {
  margin: 0 0 15px 0;
  padding-left: 25px;
  padding-top: 10px;
}

.part__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

/* Карточка товара */

.book {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* margin-right: 50px; */
  margin-bottom: 15px;
  padding-top: 15px;
  /* width: 550px; */
  min-height: 210px;

  color: #503a3d;
}

.book:nth-child(4n) {
  margin-right: 0;
}

.book__short {
  position: relative;
  margin: 0;
  padding: 0 20px;
  width: 250px;
}

.book__tabs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book__id {
  margin: 0 0 0 2px;
  padding: 2px 5px 2px 5px;
  width: 40px;
  min-height: 30px;

  color: #ffffff;
  font-family: "OpenSans bold", "Arial", sans-serif;
  text-align: center;
  background-color: #c58e4d;
  border: 1px solid #c1853f;
  border-bottom: 2px solid #dfdfc5; /*#f8f4f1;*/
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.book__age-group {
  margin: 0 0 0 5px;
  padding: 2px 5px 2px 5px;
  min-height: 30px;

  color: #ffffff;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.book__age-group--1 {
  width: 70px;

  background-color: #e74b7b;
  border: 1px solid #de2a61;
  border-bottom: 2px solid #ffd5df;
}

.book__age-group--2 {
  width: 80px;

  background-color: #fd9800;
  border: 1px solid #f38f00;
  border-bottom: 2px solid #dfdfc5;
  border-radius: 5px 5px 0 0;
}

.book__age-group--3 {
  width: 70px;

  background-color: #38a78e;
  border: 1px solid #1c9278;
  border-bottom: 2px solid #c4e9e1;
}

.book__image-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.book__image {
  /* margin: 0 30px 15px 0; */
  width: 210px;
  height: auto;

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.book__image:hover {
  /* margin: -2px 10px auto -5px; */
  width: 200px;
  height: auto;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.book__price {
  position: absolute;
  bottom: 30px;
  right: -15px;

  width: 50px;
  height: 50px;
  margin: 0;
  padding-top: 12px;

  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255,0,0,.85);
  border-radius: 50%;
}

.book__placeholder {
  font-size: 7px;
}

.book__summary {
  margin: 0;

  color: #000000;
  font-size: 12px;
}

.book__summary-link {
  color: #000000;
  font-size: 12px;
  text-decoration: underline;
}

.book__summary-link:hover {
  color: #a06700;
}

.book__external-link {
  margin: 0;
  padding-left: 9px;
}

/* Блок с подробной информацией о книге */

.book__details {
  position: relative;
  padding: 0 15px 0 0;
  width: 265px;
  min-height: 320px;
  /* background-color: #ffffff; */
  border-radius: 2px;
}

.book__details::before {
  content: " ";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-image: url(../img/icon-close.svg);
}

.book__name {
  margin: 0 0 10px 0;
  padding-top: 30px;

  color: #000000;
  font-family: "OpenSans bold", "Arial", sans-serif;
  font-style: 16px;
}

.book__info {
  color: #000000;
  font-size: 11px;
  margin: 0 0 5px 0;
}

.book__content {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;

  color: #1868a0; /*#503a3d;*/
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 11px;
  border: none;
  border-bottom: 1px dashed #1868a0;
  background-color: transparent;
}

.book__content:last-child {
  margin-bottom: 0;
}


/* Блок с id и ценой*/

.id-price {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 0 10px 0;
  padding: 10px 0;

  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 18px;
}

.id-price__id {
  margin: 0;
  padding: 5px;
  color: #ffffff;
  background-color: rgba(255,0,0,.85);
  border: 2px solid rgba(255,0,0,.85);
}

.id-price__price {
  margin: 0;
  padding: 5px 8px;
  border: 2px solid rgba(255,0,0,.85);
}

.id-price__plaseholder {
  font-size: 5px;
}

.id-price__rem {
  color: grey;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 11px;
}


/* МОДАЛЬНЫЕ ОКНА */

/* ЗАКАЗ - ОПЛАТА - ДОСТАВКА */

/* Подробная карточка товара */
